body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  background: rgb(253, 190, 168);
  color: rgb(0, 0, 0);
}

.clock {
  width: 400px;
  height: 200px;
  background-color: rgb(62, 77, 77);
  border-color: rgb(54, 63, 63);
  border-width: 50px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  font-size: 90px;
}

.zonetime {
  justify-content: center;
  align-items: center;
  width: 35 0px;
  height: 200px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  background: rgb(253, 190, 168);
  color: rgb(0, 0, 0);
}
